body {
    background-color: rgb(220, 220, 233);
    font-family: 'Playfair Display', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    
}
footer a{
    margin-left: 30px;
}
.foot-img{
    height: 40px;
    height: 40px;   
}
.foot-inst{
    height: 35px;
    height: 35px;   
}
h1{
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    color: rgb(89, 89, 111);
}
.about{
    margin-top: 50px;
    padding: 50px;
    font-size: 24px;
    word-spacing: 10px;
}
.about::first-letter{
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
    color: rgb(92, 92, 101);
    margin-left: 40px;
}
.contact {
    text-align: center;
}
.contact a{
    text-decoration: none;
    gap: 40px;
    color: rgb(102, 102, 153);
    margin-left: 30px;
    font-size: 24px;
}
.post{
    padding-left: 50px;
}
.post a{
    text-decoration: none;
    font-size: 20px;

}
.home{
    height: 50px;
    width: 50px;
    margin: 40px;
}
.about-us{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}
.about-us img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(172, 172, 215);
}