@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&family=Playfair+Display:wght@700&family=Raleway:ital,wght@1,600&family=Roboto:wght@500;700&display=swap');


body {
    background-color: rgb(229, 229, 242);
    font-family: 'Playfair Display', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    /* display: flex; */
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

.container {
    margin: 0 auto;
    padding: 0 45px;
    background-color: rgb(203, 203, 242);
}

.logo {
    height: 60px;
    width: 60px;
}

.bag {
    font-family: 'Explora', cursive;
    font-size: 24px;
    font-weight: 600;
    position: relative;
    bottom: 26px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    padding-left: 30px;
    list-style-type: none;
}

.menu-link {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-family: 'Explora', cursive;
    font-weight: bold;
}

.icon img {
    width: 50px;
    height: 50px;
}

.right1 a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Explora', cursive;
}

.right {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.inp {
    height: 30px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding-left: 10px;

}

.search {
    height: 30px;
    width: 30px;
    border: solid 2px #43484D;
    background-color: rgb(118, 128, 173);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
    padding-top: 5px;
}

.input-search {
    display: flex;

}

.inp::placeholder {
    text-align: center;
}

.zero {
    display: none;

}

.zeroadd {
    display: inline;
}

/* section1 */
/* left */
/* top */

.sidebar {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    
}

.maine {
    width: 90%;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-top: 40px;
}

.top h3 {
    font-size: 24px;
    margin-bottom: 18px;
}

.top a {
    margin-top: 8px;
    display: flex;
    line-height: 26px;
    text-decoration: none;
    color: black;
}


/* bottom */
.bottom-rgt img {
    width: 70px;
    height: 100px;
}

.bottom h3 {

    font-size: 24px;
    margin-bottom: 18px;
    margin-top: 62px;
}

.featured {
    display: flex;
    margin-top: 20px;
}

.bottom-lft {
    /* display: flex; */
    align-items: center;
    margin: 20px;
    line-height: 30px;
}

.bottom-lft p {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: rgb(41, 42, 42);
}

/* right */
.right-side {
    display: flex;
    flex-wrap: wrap;
    /* flex: 70%; */
    width: 70%;

}

.imgs {
    padding: 30px;
}

.imgs p {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

.imgs img {
    width: 220px;
    height: 270px;
    border-radius: 7px;

}

.imgs img:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 5px 5px 8px 3px #888888;
    transform: scale(1.1);
    cursor: pointer;
}

.quantity {
    padding-top: 20px;
    margin-right: 60px;
    margin-left: 40px;
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

button[class*=btn] {
    width: 40px;
    height: 20px;
    background-color: #8c9399;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.minus-btn {
    margin-bottom: 3px;
}

.plus-btn {
    margin-top: 2px;
    margin-left: 50%;
}

.plus-btn:hover {
    background-color: #999a9b;
}

button:focus,
input:focus {
    outline: 0;
}

/* footer */
footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    padding: 40px;
    background-color: rgb(57, 68, 150);

}

footer a {
    margin-left: 30px;
}

.foot-img {
    height: 40px;
    height: 40px;
}

.foot-img:hover {
    height: 45px;
    height: 45px;
    box-shadow: 5px 10px 10px rgb(33, 41, 101);
    border-radius: 50%;
}

.copy a {
    text-decoration: none;
    color: rgb(33, 41, 101);
    padding: 30px;
}

.copy {
    display: flex;
    justify-content: space-between;

}

.foot {
    display: flex;
    justify-content: space-around;
}

.foot-lft li {
    flex-direction: column;
}

.menu-link2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: 'Explora', cursive;
    font-weight: bold;
}

.menu-link2:hover {
    color: rgb(38, 40, 57);
    font-size: 30px;
}


@media only screen and (max-width: 1060px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    

    .nav {
        display: flex;
        flex-wrap: wrap;
    }


    .right-side {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        
    }
}

@media only screen and (max-width: 900px) {
    .right-side {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .imgs {
        display: flex;
        justify-content: right;
        width: 100%;
        flex-wrap: wrap;

    }
    .nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    } .nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .header {
        width: 100%;
    }

    .menu-link {
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
    }

}

@media (max-width: 450px) {
    
    .maine{
        display: flex;
        justify-content: center;
       
    }
    .left-side{
        display: flex;
        margin: auto;
        
    }
    .right-side{
        display: flex;
        margin: auto;
        
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
    }

    .sidebar {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}